<!-- CONTENT AREA (BELOW) -->
<h2>Add New Screen</h2>
<div class="panel-group">

    <div class="well well-lg">
        <div class="container">

            <div class="row col-md-6 col-md-offset-2 custyle">
                <div class="panel-body">
                    <form role="form">
                        <p>To add a new screen you must generate a new Screen Token to register the screen with, this can be done below.</p>
                        <div class="row col-md-6 col-md-offset-3">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="tokenp1" id="token-p1" class="form-control input-sm" placeholder="XXX" maxlength="3">
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="token-p2" id="token-p2" class="form-control input-sm" placeholder="YYY" maxlength="3">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="token-p3" id="token-p3" class="form-control input-sm" placeholder="ZZZ" maxlength="3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sel1">Screen Group:</label>
                                <select id="sg-select" class="form-control">
                                    <option ng-repeat="group in screenGroups" value="{{group.ID}}">{{group.ID}}</option>

                                </select>
                            </div>
                            <input id="gen-token-btn" type="submit" value="Generate Token" class="btn btn-info btn-block">
                        </div>


                    </form>
                </div>
                <table class="table table-striped custab">
                    <thead>
                    <tr>
                        <th>Token</th>
                        <th>Screen Group</th>
                        <th>Owner</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>

                    <tr ng-repeat="token in screenTokens">
                        <td>{{token.Token}}</td>
                        <td>{{token.Screen_Group}}</td>
                        <td>{{token.Owner}}</td>
                        <td><div class="{{screen.class}}">{{screen.Live}}</div></td>
                        <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>