<!-- CONTENT AREA (BELOW) -->
<h2>{{screenTitle}}</h2>
<div class="panel-group">

    <div class="well well-lg">
        <div class="container">
            <div class="row col-md-11 custyle">
                <table class="table table-striped custab">
                    <thead>
                    <tr>
                        <th>Response ID</th>
                        <th>Name of Responder</th>
                        <th>Email</th>
                        <th>Origin Advert ID</th>
                    </tr>
                    </thead>

                    <tr ng-repeat="response in responses">
                        <td>{{response.ID}}</td>
                        <td>{{response.Name}}</td>
                        <td>{{response.Email}}</td>
                        <td>{{response.OriginAdvertID}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>