<!-- CONTENT AREA (BELOW) -->
<h2>{{screenTitle}}</h2>
<div class="panel-group">

    <div class="well well-lg">
        <div class="container">
            <div class="row col-md-11 custyle">
                <table class="table table-striped custab">
                    <thead>
                    <a href="#/screens/add" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new screen</a>
                    <tr>
                        <th>Screen Group ID</th>
                        <th>Owners</th>
                        <th>Adverts</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>

                    <tr ng-repeat="group in screengroups">
                        <td>{{group.ID}}</td>
                        <td>{{group.Name}}</td>
                        <td>{{group.Owners}}</td>
                        <td>{{group.Adverts}}</td>
                        <td class="text-center"><a class='btn btn-info btn-xs' href="#/screens/groups/{{group.ID}}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#/screens/groups/{{group.ID}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>